In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install plotly

Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (5.24.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from plotly) (22.0)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly) (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import plotly.graph_objects as go
import plotly.express as px

In [4]:
# Qn1: Using the given dataset, to generate a 3D scatter plot to visualize the distribution of data points in a threedimensional space.
#     np.random.seed(30)
# data = {
#     'X': np.random.uniform(-10, 10, 300),
#     'Y': np.random.uniform(-10, 10, 300),
#     'Z': np.random.uniform(-10, 10, 300)
# }
# df = pd.DataFrame(data)

In [5]:
# code->
np.random.seed(30)
data = {
    'X': np.random.uniform(-10, 10, 300),
    'Y': np.random.uniform(-10, 10, 300),
    'Z': np.random.uniform(-10, 10, 300)
}
df = pd.DataFrame(data)
df

            X         Y         Z
0    2.882871 -7.376076  6.925787
1   -2.385030 -5.950714 -8.410773
2    3.260958  0.853469 -6.647725
3   -6.726985 -6.602615 -3.725201
4    9.252156 -4.791792 -0.580081
..        ...       ...       ...
295 -0.369458 -6.543074  9.941758
296 -3.675668 -6.671420 -2.019459
297 -6.393715 -6.040683  1.774010
298 -0.007816  9.738364 -1.721501
299 -4.623348  7.697305  1.604021

[300 rows x 3 columns]

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter3d(x=df['X'], y=df['Y'], z=df['Z']))
fig.show()

In [ ]:
fig = px.scatter_3d(df, x='X', y='Y', z='Z')
fig.show()

In [ ]:
# Qn2:Using the Student Grades, create a violin plot to display the distribution of scores across different grade categories

In [ ]:
# code->np.random.seed(15)
data = {
    'Grade': np.random.choice(['A', 'B', 'C', 'D', 'F'], 200),
    'Score': np.random.randint(50, 100, 200)
}
df = pd.DataFrame(data)
df

In [ ]:
fig = px.violin(df, x='Grade', y='Score', box=True, points='all', title='Violin Plot: Distribution of Scores Across Grades')
fig.show()

In [ ]:
# Using the sales data, generate a heatmap to visualize the variation in sales across
# different months and days.

np.random.seed(20)
data = {
    'Month': np.random.choice(['Jan', 'Feb', 'Mar', 'Apr', 'May'], 100),
    'Day': np.random.choice(range(1, 31), 100),
    'Sales': np.random.randint(1000, 5000, 100)
}
df = pd.DataFrame(data)
df

In [ ]:
pivot_table = df.pivot_table(values='Sales', index='Day', columns='Month')
fig = go.Figure(data=go.Heatmap(
    x=pivot_table.columns,
    y=pivot_table.index,
    z=pivot_table.values,
    colorscale='Viridis'))
fig.update_layout(
    title='Sales Variation Across Months and Days',
    xaxis_title='Month',
    yaxis_title='Day'
)
fig.show()

In [ ]:
# Qn3: Using the sales data, generate a heatmap to visualize the variation in sales across different months and days.

In [ ]:
# code->
np.random.seed(20)
data = {
    'Month': np.random.choice(['Jan', 'Feb', 'Mar', 'Apr', 'May'], 100),
    'Day': np.random.choice(range(1, 31), 100),
    'Sales': np.random.randint(1000, 5000, 100)
}
df = pd.DataFrame(data)
df

In [ ]:
pivot_table = df.pivot_table(values='Sales', index='Day', columns='Month')
fig = go.Figure(data=go.Heatmap(
    x=pivot_table.columns,
    y=pivot_table.index,
    z=pivot_table.values,
    colorscale='Viridis'))
fig.update_layout(
    title='Sales Variation Across Months and Days',
    xaxis_title='Month',
    yaxis_title='Day'
)
fig.show()

In [ ]:
# Qn4. Using the given x and y data, generate a 3D surface plot to visualize the function

In [ ]:
x = np.linspace(-5, 5, 100)
y = np.linspace(-5, 5, 100)
x, y = np.meshgrid(x, y)
z = np.sin(np.sqrt(x**2 + y**2))
data = {
    'X': x.flatten(),
    'Y': y.flatten(),
    'Z': z.flatten()
}
df = pd.DataFrame(data)
df

In [ ]:
fig = go.Figure(data=[go.Surface(x=x, y=y, z=z)])
fig.update_layout(
    title='3D Surface Plot',
    scene=dict(
        xaxis_title='X Axis',
        yaxis_title='Y Axis',
        zaxis_title='Z Axis'
    ),
    width=700,
    margin=dict(r=20, b=10, l=10, t=10)
)

fig.show()

In [ ]:
# Qn5:Using the given dataset, create a bubble chart to represent each country's population (y-axis), GDP (xaxis), and bubble size proportional to the population.

In [ ]:
# code->
np.random.seed(25)
data = {
    'Country': ['USA', 'Canada', 'UK',
'Germany', 'France'],
    'Population':
np.random.randint(100, 1000, 5),
    'GDP': np.random.randint(500, 2000, 5)
}
df = pd.DataFrame(data)
df

In [ ]:
fig = px.scatter(df, x='GDP', y='Population', size='Population', text='Country', hover_name='Country', size_max=60)
fig.update_layout(
    title='Bubble Chart: Population vs GDP',
    xaxis_title='GDP',
    yaxis_title='Population',
)
fig.show()